* {
    font-family: Arial, Helvetica, sans-serif;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
}

.logo {
    height: 50px;
}

ul {
    display: flex;
    list-style:none;
}

li {
    padding: 0 10px;
    text-decoration: underline;
}

/* main */
main {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mission-img {
    position: relative;
    height: 800px;
    width: 1200px;
    opacity: 0.5;
}

.mission {
    display: flex;
    align-items: center;
    position: absolute;
    width: 1200px;
    flex-direction: column;
}

.mission h4 {
    margin-top: 0;
}

/* featured */
.featured {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-tea-img-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    gap: 1em;
}

.tea-cups {
    text-align: center;
}

.tea-cups h5 {
    margin: 10px 0 20px;
}

.featured-tea-img-1 img {
    height: 200px;
    width: 300px;
}

.featured-tea-img-2 img {
    height: 200px;
    width: 300px;
}

/* Location */
.location-img {
    background-image: url("assets/img-locations-background.webp");
    background-repeat: no-repeat;
    position: relative;
    height: 500px;
    opacity: 0.5;
    background-size: cover;
    background-position: center;
    margin: 0 145px;
}